<app-navbar>Loading</app-navbar>

<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">{{ jbtHeading}}</h1>
      <p> {{jbtText}}</p>
      <p><a [routerLink]="jbtBtnUrl" class="btn btn-primary btn-lg"  role="button">{{ jbtButton }}&raquo;</a></p>
    </div>
  </div>
      <router-outlet></router-outlet>
<footer class="container">
  <p>&copy; Company 2017-2018</p>
</footer>


